{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Weather{% endblock title %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'blog/main.css' %}">
{% block content %}
    <div class="container">
        <h1 class="mt-5">Weather Forecast for {{ city }}</h1>
        <div class="input mt-4">
            <form method="GET" action="{% url 'blog-weather' %}" class="row g-3">
                <div class="col-auto">
                    <label for="city" class="visually-hidden">Enter City:</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Enter City">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Get Weather</button>
                </div>
            </form>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Condition</th>
                    <th>Max Temperature (°C)</th>
                    <th>Min Temperature (°C)</th>
                    <th>Weather Icon</th>
                </tr>
            </thead>
            <tbody>
                {% for day in forecast %}
                    <tr>
                        <td>{{ day.date }}</td>
                        <td>{{ day.condition }}</td>
                        <td>{{ day.max_temp }}</td>
                        <td>{{ day.min_temp }}</td>
                        <td><img src="{{ day.weather_icon }}" alt="Weather Icon"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
